{% extends "base.html" %}
{% block title %}Commerce List{% endblock %}
{% block content %}

<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <table >
        <thead>
    <tr>
        <th>NAME</th>
        <th>EMAIL</th>
        <th>SUBJECT</th>
        <th>MESSAGE</th>
    </tr>
    </thead>
    <tbody>
    {% for x in commerce %}
    <tr>
        <td>{{ x.name }}</td>
        <td> {{ x.email }}</td>
        <td>{{ x.subject }}</td>
      <br>

        <td> {{ x.message }}</td>
      <td><a href="{% url 'updatecommerce' x.id %}" class="btn btn-success" type="button">UPDATE</a></td>
      <td><a href="{% url 'deletecommerce' x.id %}"class="btn btn-danger" type="button" onclick="return confirm('Are you sure you want to delete the record?')">DELETE</a></td>
    </tr>
    {% endfor %}
    </tbody>
</table>
    </div>
    <div class="col-md-2"></div>
</div>


{% endblock %}